body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    /* background: url(https://images.unsplash.com/photo-1534951009808-766178b47a4f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80); */
}

h2 {
    border-radius: 20px;
    color: #6495ed;
    text-align: center;
    padding-top: 40px;
    height: 60px;
    background-image: linear-gradient(to top, yellowgreen, whitesmoke, whitesmoke);
}

header {
    text-align: center;
    background: url(https://images.unsplash.com/photo-1534951009808-766178b47a4f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    width: 100%;
    height: 68vh;
    image-orientation: 180deg flip;
    margin-top: 0;
}

.submit {
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 15px;
    font-weight: bolder;
    box-shadow: 2px 4px yellowgreen;
    color:#aa291a;
    
}

section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

article {
    text-align: center;
    /* min-width: 90px;
    min-height: 90px; */
    background-color: #6495ed;
    display: inline-block;
    padding: 6px;
    margin: 1px;
    border-radius: 5px;
    flex-grow: 1;
    color: #d0d5c6;
    letter-spacing: .2em;

}